<div class="nav-mobile-shell">
    <nav class="navbar navbar-light bg-white border-bottom d-md-none">
        <div class="container-fluid px-3">
            <a class="navbar-brand fw-semibold" href="index.html">SWE Help</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar" aria-controls="mobileSidebar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="mobileSidebar" aria-labelledby="mobileSidebarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title fw-semibold" id="mobileSidebarLabel">Меню</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-3">
            <div class="d-flex flex-column gap-2">
                <a class="nav-link" href="index.html">Главная</a>
                <a class="nav-link" href="resource.html">Материалы</a>
                <a class="nav-link" href="chats.html">Чат-боты</a>
            </div>
        </div>
    </div>
</div>

<aside class="nav-desktop-shell sidebar col-md-3 col-lg-2 d-none d-md-flex flex-column justify-content-between p-4">
    <div>
        <div class="brand mb-5 text-center">
            <img src="src/img/logo.png" alt="Logo" class="mb-2">
        </div>
        <nav class="nav flex-column gap-2 mt-5">
            <a class="nav-link" href="index.html">Главная</a>
            <a class="nav-link" href="resource.html">Материалы</a>
            <a class="nav-link" href="chats.html">Чат-боты</a>
        </nav>
    </div>
</aside>
